body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.heading, .about-section{
    display: flex;
    
}
.half{
    width: 50%;
    padding: 2% 5%;
}
.half img, .about-section img{
    width: 100%;
}
.half h1{
    font-size: 55px;
    font-weight: 700;
    color: #575757;
}
.half span{
    color: #FB8B47;
}
.half p{
    color: #828282;
    text-align: justify;
}
.order_btn{
    background-image: linear-gradient(salmon, tomato);
    padding: 10px 40px;
    border-radius: 10px;
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    letter-spacing: 1.6px;
}
.a_half{
    width: 50%;
    padding: 3% 5%;
}
.a_half img {
    width: 65.5%;
    padding-left: 75px;
}
.a_half h1{
    font-size: 30px;
    font-weight: 700;
    color: #575757;
}
.a_half p{
    color: #828282;
    text-align: justify;
    padding-bottom: 50px;
}
#ab_right{
    padding-top: 100px;
}
.contact_btn{
    background-image: linear-gradient(salmon, tomato);
    padding: 15px 40px;
    border-radius: 40px;
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    letter-spacing: 1px;
}
.about-section{
    background-image: url(../images/shapes/7.png);
    background-repeat: no-repeat;
}
.recepe-section{
    display: flex;
}
.re-half {
    box-shadow: 4px 10px 23px grey;
    width: 100%;
    margin: 39px 2%;
    padding: 25px 40px 3px;
    border-radius: 32px;
}
.rec{
    text-align: center;
    color: #575757;
    padding: 0 5%;
}
.rec h1{
    color: #575757;
}
.rec p{
    color: #828282;
}
.re-half img{
    width: 100%;
}
.re-half h3 {
    font-size: 25px;
    letter-spacing: 1px;
}
.re-half p{
    text-align: justify;
}
.counting-section {
    display: flex;
    width: 94%;
    box-shadow: 4px 10px 23px grey;
    margin-left: 38px;
    border-radius: 17px;
    margin-bottom: 20px;
}
.counting {
    padding: 30px 10%;
    text-align: center;
}
.counting h1 {
    font-weight: 600;
    font-size: 40px;
    margin-bottom: 0px;
}